<!doctype html>
<html th:replace="base :: html" lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>showCategorie</title>
</head>

<div th:fragment="content">
    <main class="py-5">
        <div class="container">
            <h1 class="mb-5 text-center" th:text="${categorie.nom}"></h1>

            <div class ="btn-group">
                <a th:href="@{/GymthmicProject/admin/categories}" class="btn btn-outline-info">retour</a>
                <a href="" class="btn btn-success">modifier</a>
                <a href="" class="btn btn-danger">supprimer</a>
            </div>



        </div>
    </main>
</div>


</html>