<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <title>Title</title>-->
</head>
<body>

    <div th:fragment="header" class="container">
        <header class="">
            <!--<img src="/mettrelien" alt="Logo" width="30" height="24">-->
            <nav>
                <p>justau'corps</p>
                <p>sportwear</p>
                <p>accessoires</p>
            </nav>
            <!--mettre la recherche -->
            <!--mettre la caddis -->
            <!--emoticone personne -->
        </header>
    </div>


</body>
</html>